@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

body, html {
     height: 90vh
}

 body {
     background: #8FC5F3;
     text-align: center;
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center
 }

 h1 {
     font-family: Alata;
     color: white;
     font-size: 2em;
     position: absolute;
     text-align: center;
     width: 100%;
     top: 10%;
 }